<settings>
<category label="PORTAL PLAYIPTV">
     <setting id="xtvmaster" type="bool" label="ACTIVAR EL ACCESO" default="false"/>
     <setting id="playiptvusername" type="text" label="INGRESA TU USERNAME" enable="eq(-1,true)" default=""/>
     <setting id="playiptvpass" type="text" option="writeable,hidden" label="INGRESA TU PASSWORD" enable="eq(-2,true)" default=""/>
</category>
<category label="CONTROL PARENTALL">
	<setting label="Control Parental " type="lsep" />
    <setting id="morros" type="bool" label="Activar o Desactivar el contenido de adulto" default="false"/>
</category>
</settings>